
<div class="container mt-4">
    <h1>{{ 'common.title' | translate }}</h1>
    <h1>{{ 'common.message' | translate }}</h1>
    <button color="accent" (click)="onLanguageSwitch()">Switch Language</button>
</div>

<div class="card" style="width: 300px; margin: auto;">
    <div class="card-header">
        <h5 class="card-title">This is header</h5>
        <h6 class="card-subtitle">Subtitle here</h6>
    </div>
    
    <div class="body my-4">
        Some text here as a body...
    </div>

    <div class="card-footer d-flex">
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-danger">Cancel</button>
    </div>
</div>

<h1>Ours</h1>
<div class="container text-center">
<div class="row justify-content-md-center">
    <div class="col-md-6" style="border: 2px solid red;">Column 1</div>
    <div class="col-md-3" style="border: 2px solid blue;">Col 2</div>
    <div class="col-md-3" style="border: 2px solid green;">Col 3</div>
</div>
</div>

<h5>-------------------------------------------</h5>
<div class="row justify-content-md-center">
    <div class="col-1" style="border: 2px solid red;">Column 1</div>
    <div class="col-5" style="border: 2px solid blue;">Col 2</div>
    <div class="col-3" style="border: 2px solid green;">Col 3</div>
    <div class="col-3" style="border: 2px solid green;">Col 4</div>
</div>

<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2" style="border: 2px solid red;">
      1 of 3
    </div>
    <div class="col-md-auto" style="border: 2px solid blue;">
      Variable width content
    </div>
    <div class="col col-lg-2" style="border: 2px solid green;">
      3 of 3
    </div>
  </div>

  <div class="row">
    <div class="col" style="border: 2px solid red;">
      1 of 3
    </div>
    <div class="col-md-auto" style="border: 2px solid blue;">
      Variable width content
    </div>
    <div class="col col-lg-2" style="border: 2px solid green;">
      3 of 3
    </div>
  </div>
</div>