<div class="search-container">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Search whatever you need.</h6>
        </div>

        <div class="card-body">
            <div class="search-box">
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="search" class="form-control" id="floatingInput" placeholder="Search anything here...">
                            <label for="floatingInput">Search anything</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>